/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --color-focus-title: #ffc2e6;
    --main-color-decor: #ff8dcb;
    --main-text-color: #353430;
    --main-color-decor-title: #353430;
    --main-color-decor-nav: #353430;
    --main-color-decor-border: #353430;
    --rec-vision: hidden;
  }
  .rec::before {
    visibility: visible;
  }
  .page {
    background-image: url(/images/cover-image-light.png);
  }
}
.page.theme_dark {
  --main-color-decor: #ff0070;
  --color-focus-title: #db00ff;
  --color-text: 0000;
  --main-text-color: #f1b2ce;
  --main-color-decor-title: #ff0070;
  --main-color-decor-nav: #ff0070;
  --main-color-decor-border: #ff0070;
  --rec-vision: visible;
  background-image: url(/images/cover-image-dark.png);
}
