.page.theme_light {
  --color-focus-title: #ffc2e6;
  --main-color-decor: #ff8dcb;
  --main-text-color: #353430;
  --main-color-decor-title: #353430;
  --main-color-decor-nav: #353430;
  --main-color-decor-border: #353430;
  --rec-vision: hidden;
  background-image: url(/images/cover-image-light.png);
}
.rec::before {
  visibility: visible;
}
@media (prefers-color-scheme: light) {
  :root {
    --color-focus-title: #ffc2e6;
    --main-color-decor: #ff8dcb;
    --main-text-color: #353430;
    --main-color-decor-title: #353430;
    --main-color-decor-nav: #353430;
    --main-color-decor-border: #353430;
    --rec-vision: hidden;
  }
  .page {
    background-image: url(/images/cover-image-light.png);
  }
  .rec::before {
    visibility: visible;
  }
}
