/*-----------------------------------header style start---------------------------*/

.header {
  width: 100%;
  height: 100vh;
  min-block-size: 768px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  padding: 0 13px;
  color: var(--main-color-decor-nav);
  line-height: 18px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header-title {
  margin-block-start: 25px;
  align-self: center;
  color: var(--color-focus-title);
  text-shadow: 4px 4px 0 var(--main-color-decor-main);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header-text {
  margin-block-start: 25px;
  margin-inline-end: 20px;
  align-self: center;
  justify-self: flex-end;
  height: min-content;
  max-width: 48%;
  background-color: var(--main-color-decor);
  color: var(--title-text);
  font-weight: 700;
}
/*-----------------------------------header style end----------------------------*/
/* -------------------------------Декоративная часть start---------------------- */

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color-decor-border);
  border-left: 1px solid var(--main-color-decor-border);
  margin-inline-start: 20px;
}

.rec {
  position: absolute;
  bottom: calc(100% - 53px);
  left: calc(100% - 80px);
  color: var(--main-color-decor);
  visibility: var(--rec-vision);
}

.rec::after {
  position: relative;
  top: -15px;
  left: 42px;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--main-color-decor);
  filter: drop-shadow(0 0 4px var(--main-color-decor));
}

.rec::before {
  position: relative;
  display: block;
  content: "";
  top: 25px;
  left: 35px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color-decor-border);
  border-right: 1px solid var(--main-color-decor-border);
}

.footer::before {
  display: block;
  position: relative;
  content: "";
  justify-self: end;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color-decor-border);
  border-right: 1px solid var(--main-color-decor-border);
}

.footer::after {
  display: block;
  position: relative;
  content: "";
  align-self: flex-end;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color-decor-border);
  border-left: 1px solid var(--main-color-decor-border);
}
/* -------------------------------Декоративная часть end----------------------- */
/* -------------------------------Состояния кнопок start----------------------- */

.header__theme-menu-item {
  border: 1px solid transparent;
}

.header__theme-menu-item:hover {
  border-color: var(--main-color-decor-nav-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-color-decor-nav);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border-color: var(--main-color-decor-border);
}
/* -------------------------------Состояния кнопок end------------------------- */
/* -------------------------------Main style start----------------------------- */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  max-width: 1024px;
  color: var(--main-text-color);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-color);
}

.section_why {
  padding: 60px 20px 80px;
  display: grid;
  grid-template-columns: fit-content(32%) minmax(min-content, max-content);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.section_what {
  padding: 0 20px;
}

.what-title {
  max-width: 30%;
  margin-block-end: 20px;
}

.section_title {
  color: var(--main-color-decor-title);
  font-size: 18px;
  font-weight: 700;
  grid-row: 1/3;
}

.section_answer-title {
  color: var(--title-text);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--main-color-decor);
  margin-block-end: 10px;
}

.section_what-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(314px, max-content));
  grid-template-rows: 1fr;
  gap: 20px;
}

.section_how {
  display: grid;
  padding: 0 20px;
  margin-block-start: 80px;
  grid-template-columns: fit-content(32%) minmax(min-content, max-content);
  gap: 20px;
  margin-block-end: 60px;
}

.advice-title {
  margin-block-end: 0;
}

.section_how-advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how-advice-box-title {
  color: var(--title-text);
  font-size: 18px;
  font-weight: 400;
  background-color: var(--main-color-decor);
  margin-block-end: 10px;
}
/* -------------------------------Main style end----------------------------- */
/* -------------------------------Оформление ссылки start-------------------- */

.highlighting {
  text-decoration: none;
  text-shadow: 2px 2px var(--main-color-decor);
}

.highlighting:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.highlighting:focus {
  outline: none;
}

.highlighting:focus-visible {
  border: 1px solid var(--main-text-color);
}
/* -------------------------------Оформление ссылки end---------------------- */
/* -------------------------------Секция с изображениями start--------------- */

.images {
  margin-block-end: 40px;
}

.section_answer-title-images {
  color: var(--title-text);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--main-color-decor);
  margin-block-start: 40px;
  margin: 0 20px;
}

.images-box {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% 30% 41%;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.sun {
  grid-column: 1/3;
  grid-row: 1/2;
}

.ice {
  grid-column: 3/4;
  grid-row: 1/3;
}

.book {
  grid-column: 2/3;
  grid-row: 2/3;
}

.tap {
  grid-column: 1/2;
  grid-row: 2/4;
}

.str {
  grid-column: 2/4;
  grid-row: 3/4;
}
/* -------------------------------Секция с изображениями end--------------- */
/* -------------------------------footer style start----------------------- */

.footer {
  width: 100%;
  height: 100vh;
  min-block-size: 768px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
}

.footer-title {
  justify-self: center;
  align-self: center;
  color: var(--color-focus-title);
  text-shadow: 2px 2px 0 var(--main-color-decor-main);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}
/* -------------------------------footer style end------------------------ */
/* -------------------------------Медиа запрос 768px * 1024px start---------------- */

@media screen and (max-width: 768px) {

  .section_what-box {
    grid-template-columns: repeat(auto-fit, minmax(355px, max-content));
  }

  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu-list {
    gap: 13px;
    flex-direction: column;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    margin-inline-end: 20px;
    align-self: center;
    justify-self: flex-end;
  }

  .header-text {
    max-width: 47.5%;
  }

  .section_why {
    column-gap: 22px;
  }

  .images-box {
    grid-template-rows: 24.5% 29.5% 41%;
  }

  .section_how {
    grid-template-columns: fit-content(32.5%) minmax(min-content, max-content);
  }

  .header-title {
    text-shadow: 4px 4px 0 var(--main-color-decor);
  }

  .footer-title {
    text-shadow: 2px 2px 0 var(--main-color-decor);
  }

  .footer {
    min-block-size: 1024px;
  }
}
/* -------------------------------Медиа запрос 768px * 1024px end---------------- */
/* -------------------------------Медиа запрос 375px * 668px start------------------- */

@media screen and (max-width: 375px) {

  .header-text {
    margin-inline-end: 0;
    max-width: 100%;
  }

  .header {
    min-block-size: 668px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rec {
    position: absolute;
    bottom: calc(100% - 43px);
    left: calc(100% - 70px);
    color: var(--main-color-decor);
    visibility: var(--rec-vision);
  }

  .rec::before {
    display: none;
  }

  .header::before {
    content: "";
    align-self: flex-end;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--main-color-decor-border);
    border-right: 1px solid var(--main-color-decor-border);
  }

  .header__theme-menu {
    align-self: flex-end;
    margin-block-start: 8px;
    margin-inline-end: 0;
  }

  .header-title {
    margin-block-start: 40px;
    font-size: 116px;
  }

  .header::after {
    margin-inline-start: 0;
  }

  .section_why {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 0;
  }

  .section_what {
    padding: 0 10px;
  }

  .what-title {
    max-width: 100%;
    margin-block-start: 50px;
  }

  .section_how {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-block-start: 50px;
    margin-block-end: 48px;
  }

  .images-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section_answer-title-images {
    margin: 0 10px;
  }

  .footer {
    padding: 0 10px 20px;
    display: flex;
    flex-direction: column;
    min-block-size: 668px;
  }

  .footer-title {
    justify-self: center;
    font-size: 116px;
  }

  .footer::before {
    content: "";
    align-self: flex-end;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--main-color-decor-border);
    border-right: 1px solid var(--main-color-decor-border);
  }

  .footer::after {
    align-self: start;
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--main-color-decor-border);
    border-left: 1px solid var(--main-color-decor-border);
  }
}
/* -------------------------------Медиа запрос 375px * 668px end------------------- */
