/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*header style */
.header {
  position: relative;
  display: grid;
  padding: 20px;
  padding-left: 0px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--header-gap-laptop);
}
.rec {
  position: absolute;
  bottom: calc(100% - 46px);
  left: calc(100% - 81px);
  color: #ff0070;
}
.rec::after {
  content: url();
}
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 0 13px;
  color: #ff0070;
  line-height: 18px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}
.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid #ff0070;
}
.header-title {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}
.header-text {
  justify-self: flex-end;
  max-width: 490px;
  background-color: #ff0070;
  color: #000028;
  font-weight: 700;
  margin-bottom: var(--header-gap-laptop);
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  max-width: 1024px;
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: #000028;
}
/* main style start */
.section_why {
  padding: 60px 20px 80px;
  display: grid;
}
